@page "/"

<img src="https://cdn.shopify.com/s/files/1/2810/0138/files/SA_AV_logo_white_x60.png?v=1524057753" alt="AV_Logo">
<h1>About Vintage</h1>

Velkommen til About Vintage!

<div class="alert alert-primary" role="alert">
    A simple primary alert—check it out!
</div>
